/* Tablet */
@media all and (max-width: 1000px) {
  /* Header */
  .logo1 {
    font-size: 20px;
  }

  .logo2 {
    font-size: 15px;
  }

  .header-right a {
    font-size: 15px;
  }

  /* Main */
  .title-text {
    margin-top: 40px;
    margin-left: 80px;
  }

  .title-button {
    margin-left: 70px;
  }

  .title-chicken h1 {
    font-size: 35px;
    margin-bottom: -10px;
  }

  .title-chicken span {
    font-size: 35px;
    font-weight: normal;
  }

  .title-chicken .btn {
    border: 2px solid #ef5644;
    width: 130px;
    padding: 15px;
    margin: 20px 10px;
    cursor: pointer;
    box-shadow: 0 7px #ed5949;
  }

  .title-chicken .btn a {
    font-size: 14px;
  }

  /* Body */
  .menu-left {
    height: 460px;
  }

  .menu-right {
    height: 460px;
  }

  .menu-desc .content {
    width: 270px;
  }
}

/* Phone */
@media all and (max-width: 670px) {
  /* Header */
  header {
    height: 60px;
  }

  header .header-left {
    padding: 15px 20px;
  }

  .logo1 {
    font-size: 15px;
  }

  .logo2 {
    font-size: 10px;
  }

  header .menu-icon {
    display: block;
  }

  header .header-right {
    display: none;
  }

  /* Main */
  .main {
    padding-top: 60px;
    display: flex;
    flex-direction: column-reverse;
  }

  .title-chicken {
    width: 100%;
  }

  .title-text {
    width: 50%;
    margin: 0 auto;
    padding-left: 20px;
  }

  .title-chicken h1 {
    font-size: 40px;
    margin-bottom: -10px;
  }

  .title-chicken span {
    font-size: 25px;
    font-weight: normal;
  }

  .title-button {
    width: 50%;
    margin: 0 auto;
  }

  .main .image-chicken {
    width: 100%;
  }

  /* Body */
  .menu-right {
    flex-direction: column;
    height: auto;
  }

  .menu-left {
    flex-direction: column;
    height: auto;
  }

  .menu-image {
    margin-top: 20px;
    width: 100%;
  }

  .menu-desc {
    text-align: center;
    margin: 10px auto;
  }

  .btn {
    margin-bottom: 10px;
  }

  /* Footer */
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
